// Color of the single link
$single-link-color: #bebebe ; 
$single-link-color-dark: #bebebe ;

// Color of the hover single link
$single-link-hover-color: #707070;
$single-link-hover-color-dark: #707070; 

$pagination-link-hover-color: #bfbfbf ;
$pagination-link-color: #938F96